<!DOCTYPE html>
<html>
<head>
    <title>Favorieten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5850476951105682"
     crossorigin="anonymous"></script>
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5850476951105682"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <h1>❤️ Mijn Favorieten</h1>
    <a href="/" class="btn">← Terug</a>
</header>

<div class="grid">

{% for s in spots %}
    <div class="card">

        <a href="/spot/{{s[0]}}">
            <h3>{{s[1]}}</h3>
            <p>{{s[2]}}</p>
        </a>

        <!-- 💔 UNFAVORITE -->
        <a href="/unfavorite/{{s[0]}}" class="btn" style="margin-top:10px;">
            💔 Verwijder
        </a>

    </div>
{% endfor %}

{% if spots|length == 0 %}
    <p style="padding:10px;">Je hebt nog geen favorieten.</p>
{% endif %}

</div>

</body>
</html>