<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h2>📝 Account maken</h2>

<form method="post">

<label>👤 Username</label>
<input type="text" name="username" placeholder="Kies een username">

<label>🔑 Password</label>
<input type="password" name="password" placeholder="Kies een wachtwoord">

<button class="btn">Registreren</button>

</form>

<a href="/login">Al een account? Login</a>

</body>
</html>